.bg-image {
    height:100vh;
    background: url("../img/background-image.png");
    background-size: 75%;
    background-repeat: no-repeat;
    align-items: center;
}

.dark-mode {
    background-color: black;
    color: white;
  }

.night-mode img{
    width: 10%;
}